doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Alexey Bondarenko - Full stack developer and designer.
    meta(name="description", content="Alexey Bondarenko is a fullstack frontend developer and designer. I create scalable web and mobile projects")
    meta(name="keywords", content="Алексей Бондаренко, Alexey Bondarenko, bondalex, alexeybondarenko, frontend, angularjs, javascript, developer, fullstack")
    // build:css css/app.css
    link(rel='stylesheet', href='css/app.css')
    //endbuild
    link(rel="icon", type="image/png", href="images/favicon.png")
  body
    .block
      .block__user
        .avatar
          img(src="images/avatar.png")
        .user-info
          h2 Alexey Bondarenko
          p.light Full-stack Developer
      .block__content
        p I'm full-stack developer and designer. I have strong experience in development of scalable web and mobile applications. I'm ready to design and develop your project.
      a(href="mailto:alexeybondarenko@me.com").btn.btn--pink Contact me
      p.spacer follow me
      .block__icons
        .icons
          a(href="https://www.facebook.com/bondalexey").icon.icon-facebook
          a(href="https://www.linkedin.com/in/bondalexey").icon.icon-linkedin
          a.icon.icon-google
